.overlay {
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10;
}

.overlay img {
  position: absolute;
  top: 100px;
  left: 100px;
}
