@import "jquery-ui.css";
code{padding:0 4px;color:#000}
pre{color:#657b83}
code,pre{border:thin solid #000;border-radius:3px;background-color:#fdf6e3;font-family:monospace}
pre.vimCodeElement{color:#657b83;font-size:1em;padding:0;overflow-y:auto;}
pre.vimCodeElement .Type{color:#b58900}
pre.vimCodeElement .Identifier{color:#268bd2}
pre.vimCodeElement .LineNr{color:#93a1a1;background-color:#eee8d5;padding-bottom:1px}
pre.vimCodeElement .Statement{color:#719e07}
pre.vimCodeElement .Comment{color:#93a1a1;font-style:italic}
pre.vimCodeElement .Constant{color:#2aa198}
body{margin:0;padding:0}
#logo{float:right;cursor:pointer}
.overlay{background-color:#000;opacity:.7;filter:'alpha(opacity=70)';position:absolute;top:0;left:0;width:100%;height:100%;z-index:9999;}
.overlay img{position:absolute;top:45%;left:45%}
#github-ribbon{position:absolute;top:0;right:0;border:0;z-index:201}
#controls{background-color:rgba(255,255,255,0.8);padding:0 0 10px 0;margin:0;border-bottom:thin solid #000;position:fixed;top:0;-webkit-box-shadow:0 5px 0 0 rgba(0,0,0,0.3);box-shadow:0 5px 0 0 rgba(0,0,0,0.3);width:100%;z-index:100;}
#controls div{display:inline-block;margin:0 5px;padding:10px}
#controls input{font-size:1.1em}
#controls #data-size{width:100px}
#list{margin-top:100px}
.list-item{display:inline-block;overflow-y:hidden;height:25px;width:350px;margin:10px;padding:10px}
.pending{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}
.fulfilled{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}
.rejected{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}
#intro{margin:150px 10px 10px}
.centered-box{margin:0 auto;padding:10px 20px;border:thin solid #000;max-width:1024px;background-color:#dff0d8}
.box-shadow{-webkit-box-shadow:5px 5px 0 0 rgba(0,0,0,0.3);box-shadow:5px 5px 0 0 rgba(0,0,0,0.3)}
